
.size{
    max-width: auto;
    height: 600px;
    max-height: auto;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    
}

.main {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #28a745;
    padding: 30px;
    color: #ffffff;
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table styles */
table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    color: #333;
}

/* Button styles */
button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Approved text styles */
#approved-text {
    color: #28a745;
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
    display: block;
}

@media screen and (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 6px 12px;
    }
}






/* Style for the form container */
.form-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the label */
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Style for the input field */
.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Green button for approve */
.green-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.green-button:hover {
    background-color: #218838;
}

/* Red button for decline */
.red-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.red-button:hover {
    background-color: #c82333;
}
