/* By Amaya */

.main-topic
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2.0rem;
    font-family: 'Raleway', sans-serif;
}


.content-section
{
    margin:1em;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Times New Roman';

}
.container1
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5 em;
}


.image
{
    
    height:400px;
    width: 100%;
    margin:15px;
    border: 2px solid darkgreen;
}

.container2
{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    max-width: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.box
{
    border-color: #ffffff;
    padding: 20px;
    border: 1px solid darkgreen;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.5); /* Pink shadow */
    
}

.image-box
{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
    
}

.image-box img
{
    width: 180px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
}


.vission
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mission
{
    grid-column: 3/ 4;
    grid-row: 1/2;
}

.gp
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.about
{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


.box:hover {
    transform: translateY(-10px) scale(1.05); /* Lift and slightly enlarge the box on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Deeper shadow for a pronounced effect */
    border-color: #2980b9; /* Change border color on hover */
    background-color: #ecf6fa; /* Light background color change */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition for all changes */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Inset shadow (inside the box) */
}


